bin/hello-world
bin/xs-test-library

# Intermediate Artifacts
thirdparty/moddable.zip
thirdparty/moddable/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/
!docs/images/dub-logo.png

# Code coverage
*.lst
